<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GoalUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GoalUploader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="System.Configuration.IgnoreFileSection, log4net"/>
  </configSections>
  <applicationSettings>
    <GoalUploader.Properties.Settings>
      <setting name="MerlinBusDomain" serializeAs="String">
        <value>hs</value>
      </setting>
      <setting name="MerlinBusUserName" serializeAs="String">
        <value>hedgesense</value>
      </setting>
      <setting name="MerlinBusSharedSecret" serializeAs="String">
        <value>base64secret</value>
      </setting>
    </GoalUploader.Properties.Settings>
  </applicationSettings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <backColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Logs\GoalUploader.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>