<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoalUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GoalUploader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GoalUploader.Properties.Settings>
            <setting name="MerlinBusDomain" serializeAs="String">
                <value>hs</value>
            </setting>
            <setting name="MerlinBusUserName" serializeAs="String">
                <value>hedgesense</value>
            </setting>
            <setting name="MerlinBusSharedSecret" serializeAs="String">
                <value>base64secret</value>
            </setting>
        </GoalUploader.Properties.Settings>
    </applicationSettings>
</configuration>